body{
    margin: 0;
}
.score-board{
    text-align: center;
    font-size: 36px;
    color: red;
}
.game-board{
    width: 80%;
    height: 80vw; 
    border: solid 1px black;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.box{
    /*border: solid 1px red;*/
    width: calc(100% / 9);
    height: calc(100% / 9);
    /*transition: background 0.8s, transform 0.8s;*/
    transition:transform 0.5s;
    background-repeat: no-repeat;
    background-size: cover;
}
.c0{ background-image: url(/images/blue-candy.png); }
.c1{ background-image: url(/images/green-candy.png); }
.c2{ background-image: url(/images/orange-candy.png); }
.c3{ background-image: url(/images/purple-candy.png); }
.c4{ background-image: url(/images/red-candy.png); }
.c5{ background-image: url(/images/yellow-candy.png); }

[data-toberemoved]{
    transform: scale(1.3);
    /*opacity: 0.8;*/
}